{
  "presets": ["@babel/env", "@babel/react"],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-react-constant-elements",
    "@babel/plugin-transform-destructuring",
    ["styled-components", { "ssr": true }]
  ],
  "env": {
    "production": {
      "plugins": ["transform-react-remove-prop-types"],
    }
  }
}
